.u-section-1 {
  background-image: linear-gradient(45deg, #379cd2, #4cb1e7);
}

.u-section-1 .u-sheet-1 {
  min-height: 687px;
}

.u-section-1 .u-group-1 {
  width: 600px;
  min-height: 410px;
  margin: 103px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 91px 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 38px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 38px auto 0 0;
  padding: 30px 73px 30px 72px;
}

.u-section-1 .u-image-1 {
  width: 469px;
  height: 683px;
  object-position: 24.63% 0%;
  margin: -509px 0 -174px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 30px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 92px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: 30px;
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-right: -8px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 495px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 910px;
}

.u-section-2 .u-group-1 {
  min-height: 509px;
  width: 891px;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 40px 60px 0;
}

.u-section-2 .u-line-1 {
  width: 62px;
  height: 7px;
  transform-origin: left center 0;
  margin: 24px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 49px 60px 0;
}

.u-section-2 .u-btn-1 {
  border-radius: 50px;
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 61px auto 0;
  padding: 16px 93px 16px 92px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-3 {
  min-height: 448px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -9px;
  margin-bottom: 9px;
}

.u-section-3 .u-image-1 {
  min-height: 448px;
  background-image: url("images/f99835c5c52b6af0f9a32a21927d82c8.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  background-image: linear-gradient(#5fbfe5, #379cd2);
  min-height: 448px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-1 {
  height: 107px;
  width: 107px;
  margin: 171px auto 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/8c313fff480bd7099e9321ba676656a9.jpeg");
  min-height: 448px;
  background-position: 72.78% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    height: 34px;
    width: 34px;
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-3 .u-icon-1 {
    height: 26px;
    width: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-3 .u-icon-1 {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-3 .u-icon-1 {
    height: 20px;
    width: 20px;
    margin-top: 42px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-4 .u-group-1 {
  min-height: 218px;
  width: 801px;
  margin: 108px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  margin: 37px 60px 0;
}

.u-section-4 .u-line-1 {
  width: 62px;
  height: 7px;
  transform-origin: left center 0;
  margin: 25px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 51px 60px 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 449px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 28px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 2px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin: 20px 2px 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 2px 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 28px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 2px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin: 20px 2px 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 2px 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 28px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0 2px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin: 20px 2px 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 2px 0;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-4 .u-line-1 {
    width: 51px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 370px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-4 .u-line-1 {
    width: 39px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 850px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-4 .u-line-1 {
    width: 37px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 342px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 342px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 342px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-line-1 {
    width: 31px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-image-1 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }
}